@import "common";

$color : #ccc;
$size : font-size;
$dash : solid;

@mixin after($dis) {
    &:after{
        content: "";
        clear: both;
        display: $dis;
    }
}

html, body {
    margin: 0;
    background: #fff;
}

header {
    background: $color;
    @include after(inline);

    h1 {
        #{$size}: 2em;
        $dash : dashed;
        float: left;
        border: 1px #{$dash} #000;
    }
    nav {
        float: right;

        a {
            display: inline-block;
        }
    }
}


@for $i from 1 to 4 {
    nav a:nth-of-type(#{$i}){
        font-size:$i * 2rem;
    }
}