@import url("common.css");


/***** common *****/
html, body {
    height: 100%;
}
article {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-size: 2em;
    color: #333;
    padding-bottom: 50px;
}
.ani_01 div p img {
    width: 100%;
    vertical-align: middle;
}
.ani_01 {
    perspective: 1000px;
}
.ani_01 div {
    width: 500px;
    height: 240px; 
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    animation: ani01 2s linear infinite;
    position: relative;
}
.ani_01 div p {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
}
.ani_01 div p:first-of-type {
    z-index: 2;
}
.ani_01 div p:last-of-type {
    z-index: 1;
    transform: rotateY(180deg);
    background: #0f0;
    color: #fff;
    width: 100%;
    height: 100%;
    font-size: 2em;
    display: flex; justify-content: center; align-items: center;
}

@keyframes ani01 {
    0%{
    }
    100%{
        transform:rotateY(360deg);
    }
}




/******************************************************/

.ani_02 {}
.ani_02 h1 {}
.ani_02 .box {
    width: 300px; height: 300px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 0;
    animation: abc 30s linear infinite;
}
@keyframes abc {
    0%{
        transform: rotateX(0deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(360deg) rotateY(360deg);
    }
}
.ani_02 .box div {
    width: 100%; height: 100%;
    position: absolute;
    transform-style: preserve-3d;
}
.ani_02 .box div p {
    height: 32%;
    transition: 5s;
    font-size: 0;
}
.ani_02 .box div p span {
    width: 23.333%; height: 100%;
    background: #ddd;
    transform: translateZ(0);
    transition: .5s;
}
.ani_02 .box div p span:hover {
    transform: translateZ(300px);
}
.ani_02 .box div:nth-of-type(1) {
    transform: rotateY(0deg) translateZ(150px);
}
.ani_02 .box div:nth-of-type(2) {
    transform: rotateY(90deg) translateZ(150px);
}
.ani_02 .box div:nth-of-type(3) {
    transform: rotateY(180deg) translateZ(150px);
}
.ani_02 .box div:nth-of-type(4) {
    transform: rotateY(270deg) translateZ(150px);
}
.ani_02 .box div:nth-of-type(5) {
    transform: rotateX(90deg) translateZ(150px);
}
.ani_02 .box div:nth-of-type(6) {
    transform: rotateX(270deg) translateZ(150px);
}
.box:hover div p{
    transform: scale(0) rotateX(999deg) translateZ(100px);
}

.ani_02 .box div:nth-of-type(1) p span {background: #f00;}
.ani_02 .box div:nth-of-type(2) p span {background: #ff0;}
.ani_02 .box div:nth-of-type(3) p span {background: #0f0;}
.ani_02 .box div:nth-of-type(4) p span {background: #00f;}
.ani_02 .box div:nth-of-type(5) p span {background: #fff;}
.ani_02 .box div:nth-of-type(6) p span {background: #0ff;}