@import url(common.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);

/** font

font-family: 'NanumSquare', sans-serif
font-family: 'Nanum Gothic', sans-serif;

**/


/********** body **********/

html, body {
    font-family: 'NanumSquare', sans-serif;
    color: #333;
}

/********** header **********/

header {
    width: 100%;
    position: fixed; left: 0; top: 0;
    background:rgba(25,30,70,.8);
    z-index: 1;
}
header::before {
    content: "";
    width: 100%; height:94px;
    background: #fff;
    display: block;
    position:absolute;
}
header .header_box {
    width: 100%;    
    display: flex; justify-content: space-between; align-items:baseline;
    padding: 0 48px 0 94px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
header .header_box > a{
    transform:translateY(-40%);
}
header .header_box nav {
    height: 100%;
}
header .header_box nav:hover .header_2depth {
    display: block;
}
header .header_box nav .header_1depth {
    height: 100%;
    display: flex;
}
header .header_box nav .header_1depth > li {
    text-align: center;
}
header .header_box nav .header_1depth > li > a {
    width: 100%;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    line-height: 94px;
    padding: 0 50px;
}

header .header_box nav .header_1depth > li > ul {
    display: none;
}
header .header_box nav:hover .header_1depth > li > ul {
    display: block;
}
.header_1depth > li > ul li a {
    font-size: 15px;
    color: #fff;
    line-height: 20px;
    margin: 25px 0;
    padding: 0 20px;
}
.header_1depth > li > ul li a::after {
    content: "";
    width: 0%; height: 2px;
    background: #fff;
    display: block;
    transition: .5s;
}
.header_1depth > li > ul li a:hover::after {
    width: 100%;
    opacity: 1;
}
header .header_box .login {
    width: 261px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .header_box .login a {
    display: block;
    font-size: 14px;
    color: #333;
}
header .header_box .login form {
    width: 151px; height: 27px;
    border: 2px solid #192346;
    display: flex; justify-content: space-between;
}
header .header_box .login input[type="text"] {
    width: 100%;
    border: none;
    margin-left: 5px;
    outline-style: none;
}
header .header_box .login form a {
    width: 25px;
    height: 23px;
    background: #192346;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*************** content ***************/

.content {
    position: relative;
    margin-top: 94px;
}

/******* visual *******/

.visual {
    height: 773px;
    margin: 0 auto;
    background: url(../img/img_visual.jpg) no-repeat center top / cover;
    display: flex; justify-content: space-between; align-items: center;
    padding: 0 65px;
}
.visual p {
    font-size: 60px;
    font-weight: 800;
    line-height: 70px;
    letter-spacing: 0.025em;
    text-align: center;
    color: #fff;
    font-family: 'NanumSquare', sans-serif
}
.visual p span {
    color: #ffd617;
}
.visual a {
    opacity: 0.6;
    transform: scale(0.7);
    transition: .5s;
}
.visual a:hover {
    opacity: 0.8;
    transform: scale(0.8);
}

/******* section *******/

section {
    position: relative;
    height: 545px;
    background: #eee;
}

/******* button *******/

.button {
    width: 1239px; height: 203px;
    position: absolute; left: calc(50% - 619.5px); top: -101.5px;
}
.button ul {
    width: 100%; height: 100%;
    background: #192346;
    box-shadow: 0 1px 5px #000;
    display: flex; justify-content: space-around; align-items: center;
}
.button ul li a {
    width: 137px; height: 137px;
    display: flex; justify-content: flex-end; align-items: center; flex-direction: column;
    background: #fff;
    border-radius: 100%;
}
.button ul li a:hover {
    background: #ffd617;
}
.button ul li a p {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    margin: 8px 0 20px;
}

/******* post *******/

.post {
    width: 1239px;
    margin: 0 auto;
    padding: 199px 43px 0;
}
.post > ul {
    width: 1144px; height: 235px;
    display: flex; justify-content: space-between; align-items: center;
}
.post > ul > span {
    width: 1px; height: 100%;
    background: #bfbfbf;
    display: block;
}
.post > ul > li {
    width: 515px; height: 100%;
    display: flex; flex-direction: column; justify-content: space-between;
}
.post > ul > li .top {
    width: 100%;
    display: flex; justify-content: space-between; align-items: center;
}
.post > ul > li .top h2 {
    font-size: 24px;
    font-weight: bold;
}
.post > ul > li span {
    width: 48px; height: 2px;
    background: #333;
    display: block;
}
.post > ul > li > ul li {
    width: 100%;
}
.post > ul > li > ul li a {
    width: 100%;
    display: flex; justify-content: space-between; align-items: center;
}
.post > ul > li > ul li a:hover p {
    opacity: 1;
}
.post > ul > li > ul li a p {
    opacity: .8;
}
.post > ul > li > ul li a p:first-of-type {
    font-size: 16px;
    line-height: 30px;
    width: 420px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.post > ul > li > ul li a p:last-of-type {
    font-size: 12px;
}

/******* photo *******/

.photo {
    width: 1462px; height: 663px;
    margin: 89px auto 160px;
    display: flex; flex-direction: column; justify-content: space-between; align-items: center;
}
.photo h2 {
    font-size: 24px;
    font-weight: bold;
}
.photo > span {
    width: 48px; height: 2px;
    background: #333;
    display: block;
}
.photo .photo_box {
    width: 100%;
    display: flex; justify-content: space-between;
}
.photo .photo_box .photo_left {
    width: 583px;
}
.photo .photo_box .photo_left .photo_bottom{
    width: 100%; height: 234px;
    background: #192346;
    padding: 39px 23px 49px;
    display: flex; flex-direction: column; justify-content: space-between; align-items: center;
}
.photo .photo_box .photo_left .photo_bottom p {
    color: #fff;
}
.photo .photo_box .photo_left .photo_bottom p:nth-of-type(1) {
    font-size: 20px;
    font-weight: bold;
}
.photo .photo_box .photo_left .photo_bottom span {
    width: 48px; height: 2px;
    background: #fff;
    display: block;
}
.photo .photo_box .photo_left .photo_bottom p:nth-of-type(2) {
    font-size: 14px;
    line-height: 28px;
    text-align: center;
}

.photo .photo_box .photo_right {
    width: 856px; height: 100%;
    display: flex; flex-direction: column; justify-content: space-between;
}
.photo .photo_box .photo_right .photo_top {
    display: flex; justify-content: space-between;
}
.photo .photo_box .photo_right .photo_bottom {
    display: flex; justify-content: space-between;
}
.img_box {
    border: 1px solid #ccc
}
.photo .photo_box .photo_right .img_box p {
    width: 100%; height: 60px;
    background: #eee;
    border-top: none;
    display: flex; justify-content: center; align-items: center;
}
.photo .photo_box .photo_right .text_box {
    width: 190px; height: 243px;
    padding: 28px 0;
    background: #192346;
    display: flex; flex-direction: column; justify-content: space-between; align-items: center;
    text-align: center;
}
.photo .photo_box .photo_right .text_box p {
    font-size: 24px;
    color: #fff;
    line-height: 40px;
}
.photo .photo_box .photo_right .text_box p span {
    font-weight: bold;
}
.photo .photo_box .photo_right .text_box > span {
    width: 48px; height: 2px;
    background: #fff;
    display: block;
}

/* information */

.information {
    width: 1462px;
    margin: 0 auto 180px;
    display: flex; justify-content: space-between;
}
.information .inf_box {
    position: relative;
    width: 340px; height: 299px;
    padding: 43px 0 60px;
    border: 1px solid #ccc;
    display: flex; flex-direction: column; justify-content: space-between; align-items: center;
    text-align: center;
}
.information .inf_hover {
    position: absolute; left: 0; top: 0;
    width: 100%; height: 100%;
    background: #192346;
    display: flex; flex-direction: column; justify-content: center;
    opacity: 0;
    transition: .3s
}
.information .inf_box:hover .inf_hover {
    opacity: 1;
}
.information .inf_hover p:first-of-type {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
.information .inf_hover > p:first-of-type::after {
    content: "";
    width: 48px; height: 2px;
    margin: 22px auto 60px;
    background: #fff;
    display: block;
}
.information .inf_box > p {
    font-size: 24px;
    font-weight: bold;
}
.information .inf_box > p::after {
    content: "";
    width: 48px; height: 2px;
    margin: 22px auto 0;
    background: #333;
    display: block;
}
.information .inf_box .text_box {
    height: 89px;
    display: flex; flex-direction: column; justify-content: space-between;
}
.information .inf_box .text_box p {
    font-size: 16px;
    line-height: 25px;
}

/* footer */

footer {
    width: 100%; height: 198px;
}
footer .foo_top {
    width: 100%; height: 54px;
    background: #37405f;
    display: flex; align-items: center;
}
footer .foo_top .foo_all {
    width: 1462px;
    margin: 0 auto; padding: 0 15px;
    display: flex; justify-content: space-between;
}
footer .foo_top .foo_all .foo_left {
    width: 840px;
}
footer .foo_top .foo_all .foo_left ul {
    width: 100%;
    display: flex; justify-content: space-between;
}
footer .foo_top .foo_all .foo_left ul li {
    display: flex; align-items: center;
}
footer .foo_top .foo_all .foo_left ul li::after {
    content: "";
    width: 1px; height: 15px;
    background: #999;
    display: inline-block;
    margin-left: 15px;
}
footer .foo_top .foo_all .foo_left ul li:last-of-type::after {
    display: none;
}
footer .foo_top .foo_all .foo_left ul li a {
    color: #ccc;
    font-size: 14px;
}
footer .foo_top .foo_all .foo_left ul li a:hover {
    color: #fff;
}
footer .foo_top .foo_all .foo_right a {
    display: flex; justify-content: center; align-items: center;
    font-size: 14px;
}
footer .foo_top .foo_all .foo_right a p {
    color: #ccc;
    font-size: 16px;
}
footer .foo_top .foo_all .foo_right a img {
    margin-left: 5px;
}

footer .bottom {
    width: 100%; height: 144px;
    background: #333;
    display: flex; justify-content: space-between; align-items: center;
}
footer .bottom .bot_content {
    width: 1462px;
    margin: 0 auto;
    padding-left: 15px;
    display: flex; align-items: center;
}
footer .bot_content img {
    margin-right: 20px;
}
footer .bot_text {
    height: 72px;
    display: flex; flex-direction: column; justify-content: space-between;
}
footer .bot_text p {
    font-size: 14px;
    color: #ccc;
}

/* aside */

aside {
    width: 36px; height: 36px;
    position: fixed; right: 20px; bottom: 20px;
}
aside a {
    width: 100%; height: 100%;
    background: #000;
    opacity: .5;
    display: flex; justify-content: center; align-items: center;    
}
aside a:hover {
    opacity: .8;
}