@import url("../css/common.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap');

/* wrap */
.wrap{
    width: 1668px;
    margin: 0 auto;    
}

/* header */
header{
    width: 1140px;
    margin: 0 auto;
    padding: 94px 0 77px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
header nav{
    width: 455px;
}
header nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header nav ul li{
    font-size: 20px;
    font-weight: bold;
}
header nav ul li::after{
    content: "";
    width: 100%;
    height: 5px;
    background: #000;
    display: block;
    opacity: 0;
}
header nav ul li:hover::after{
    opacity: 1;
}

/* section */
section {
    width: 100%;
    margin-bottom: 98px;
    position: relative;
}
section .visual {
    width: 1140px;
    height: 550px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 99px;
}
section .visual > img {
    width: 100%;
    transform: translateX(50%);
    animation: spot 1s forwards;
}
@keyframes spot {
    0%{}
    100%{
        transform: translateX(0%);
    }
}
section .visual p{
    position: absolute;
    left: 50%; top: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}
section .visual p span{
    height: 110px;
    color: #fff;
    font-size: 90px;
    font-weight: bolder;
    text-shadow: 2px 2px 10px #000;
    overflow: hidden;
    padding-top: 110px;
    transition: padding .5s;
}
section .visual:hover p span {
    padding-top: 0;
}
section .visual p span:first-of-type {
    transition: 1s;
}
section .visual p span:last-of-type {
    transition-delay: padding .5s;
}
section .visual aside{
    position: absolute;
    left: 0; bottom: 0;
    transform: rotate(-90deg) translateY(-150%);
    transform-origin: 0% 100%;
    display: flex;
    align-items: center;
}
section .visual aside a img{
    transform: rotate(90deg);
    margin-right: 30px;
}
section .visual aside span {
    font-family: 'Myriad Pro';
    font-size: 20px;
}
section .content {
    width: 1140px;
    height: 260px;
    margin: 0 auto;
    position: relative;
}
section .content li {
    width: 1140px;
    position: absolute; left: 0; top: 0;
    display: flex;
    justify-content: space-between;
}
section .content li article {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
section .content li article h2 {
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.1em;
}
section .content li article p {
    font-size: 15px;
    line-height: 2em;
}
section .content li article p:first-of-type {
    width: 370px;
}
section .content li article p:last-of-type a{
    font-size: 20px;
    font-family: 'Myriad Pro';
    text-decoration: underline;
}
section .content li figure {
    position: relative;
}
section .content li figure span {
    font-size: 25px;
    font-weight: bolder;
    position: absolute;
    right: 0; top: 0;
    transform: translateY(-100%);
    padding: 5px 0;
}
section .content li figure span code {
    font-size: 25px;
    font-weight: bolder;
}

/* footer */
footer {
    width: 1668px;
    background: #434343;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
footer p {
    font-size: 15px;
    color: #bcbcbc;
}