@import url("common.css");

body {
    padding: 150px;
}
section {
    width: 1920px;
    height: 948px;
    margin: 0 auto;
    padding: 78px 0;
    background: #ede0df;
}
section content {
    width: 464px;
    height: 791px;
    background: url("../img/img01.jpg") no-repeat center;
    display: block;
    margin: 0 auto;
    position: relative;
}
section content h1 {
    font-size: 83px;
    position: absolute;
    font-weight: normal;
    left: -30%; bottom: 239px;
}
section content p {
    position: absolute;    
    left: -30%;
}
section content p:first-of-type {
    bottom: 123px;
}
section content p:last-of-type {
    bottom: 41px;
}

section content aside {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 610px; top: 150px;
}
section content aside span {
    padding: 17px 0;
}
section content aside span::after {
    content: "";
    width: 1px;
    height: 114px;
    background: #333;
    display: block;
}
section content aside span:hover {
    font-size: 42px;
}