@import url("common.css");

/* main */
main {
    width: 1920px;
    height: 948px;
    background: #ede0df;
    margin: 0 auto;
    padding: 79px 561px 79px 735px;
    display: flex;
    justify-content: space-between;
}

/* section */
section {
    width: 619px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
section article {
    height: 266px;
    position: absolute;
    left: -155px;
    top: 484px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}
section article h1 {
    font-size: 83px;
}
section article p {
    width: 280px;
    font-size: 12px;
    line-height: 1.5em;
}

/* nav */
nav {
    display: flex;
    align-items: center;
}
nav ul {
    height: 305px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
nav ul .line {
    content: "";
    width: 1px;
    height: 144px;
    background: #1c1a1a;
    margin: 0 6px 0 0;
}
nav ul li a {
    font-size: 12px;
}
nav ul li:first-of-type a {
    font-size: 42px;
}